TRADING_MODE=paper
DATA_MODE=coinbase
ANALYZER_MODE=rule
DISCOVERY_MODE=exchange
OPENAI_MODEL=gpt-4o-mini
COINMARKETCAP_API_KEY=
CRYPTOPANIC_API_KEY=
EXCHANGE_IDS=binance,bybit,okx
EXCHANGE_ID=binance
SYMBOL=BTC/USD
QUOTE_CURRENCY=USD
TIMEFRAME=1h
TIMEFRAMES=1d,4h,1h,15m
CANDLE_LIMIT=200
DISCOVERY_LIMIT=5
DISCOVERY_POOL_LIMIT=100
MIN_MARKET_CAP_USD=100000000
SCAN_INTERVAL_SECONDS=900
RENDER_CHARTS=true
CHART_DIR=charts

SHORT_MA=20
LONG_MA=50
RSI_PERIOD=14
RSI_BUY_MAX=65
RSI_SELL_MIN=35

STARTING_CASH=10000
MAX_POSITION_USD=1000
MAX_DAILY_LOSS_USD=250
BTC_KILL_SWITCH_DROP_PCT=3
MIN_VOLUME_24H_USD=50000000
MIN_RISK_REWARD=1.5
MIN_CONFIDENCE=0.6
MAX_STOP_ATR_MULTIPLE=3
BACKTEST_FEE_BPS=10
BACKTEST_SLIPPAGE_BPS=5
BACKTEST_STOP_ATR_MULTIPLE=1.5
BACKTEST_TARGET_R_MULTIPLE=2
JOURNAL_DB=coach_miranda_miner.sqlite3

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_MIN_SIGNAL=watch
ALERT_COOLDOWN_MINUTES=60
