TRADING_MODE=paper
DATA_MODE=coinbase
ANALYZER_MODE=rule
DISCOVERY_MODE=exchange
RENDER_CHARTS=false
MIN_CONFIDENCE=0.72
MIN_RISK_REWARD=2.0
MAX_POSITION_USD=1000
MAX_DAILY_LOSS_USD=250
TELEGRAM_MIN_SIGNAL=enter
MIN_ALERT_GRADE=B
REQUIRE_WATCH_BEFORE_ENTER=false
