TRADING_MODE=paper
DATA_MODE=fixture
ANALYZER_MODE=rule
DISCOVERY_MODE=exchange
RENDER_CHARTS=false
SYMBOL=BTC/USDT
QUOTE_CURRENCY=USDT
TIMEFRAME=1h
TIMEFRAMES=1d,4h,1h,15m
JOURNAL_DB=coach_miranda_miner.fixture.sqlite3
